body{
  font-family: 'Nunito', sans-serif;
  width: 100%;
  font-size: 16px;
  background: url('../img/yosemite.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}

h1, h2{
  font-family: 'Baloo 2', cursive;
  text-shadow: rgba(0, 0, 0, .75) 5px 5px 5px;
}

section.section{
  padding: 0 8.333%;
}

/* HEADER */
header{
  background-color: rgb(255,255, 255, .3);
  color: white;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav.top-menu{
  padding: 1em 2em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

h1.top-logo{
  font-size: 1.5em;
}

a{
  color: white;
  text-decoration: none;
}

header nav.top-menu ul.top-menu-list{
  display: flex;
}

header nav.top-menu ul.top-menu-list a{
  margin: 0 1em;
  text-transform: lowercase;
  font-weight: 900;
}

header nav.top-menu ul.top-menu-list a:last-child{
  margin-right: 0;
}

/* HOME SECTION */

section.home{
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: rgba(0, 0, 0, .50) 3px 3px 3px;
}

h2.main-title{
  font-size: 10vw;
  text-transform: uppercase;
  color: white;
}

div.informations{
  background-image: linear-gradient(to top, rgba(255, 255, 255, .55), rgba(255, 255, 255, 0));
  border-radius: .5rem;
  display: inline-grid;
  grid-template-columns: 33% 66%;
  padding: 4rem 2rem 6rem;
}

div.informations div {
  margin-top: 6rem;
}

div.number-information p{
  font-size: 2rem;
  color: white;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
}

div.number-information p span.number{
  font-family: 'Baloo 2', cursive;
  display: block;
  font-size: 5rem;
  margin-bottom: 1rem;
}

div.text-information h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  text-shadow: rgba(0, 0, 0, .85) 2px 2px 2px;
}

div.text-information h3 span.logo-txt {
  font-size: 3rem;
  font-family: 'Baloo 2', cursive;
}

div.text-information p.regular-txt {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  text-shadow: rgba(0, 0, 0, .95) 1px 1px 2px;

}

div.text-zn button.button-home{
  border: none;
  background-color: white;
  border-radius: .3em;
  padding: 1rem;
  font-size: 1.5rem;
  transform: translateY(-50%);
}